{% include "./form-title.html" with title="Customer Information" %}

<form method="post">
    {% csrf_token %}
    <div class="row mt-3" style="padding-right: 2rem; padding-left: 2rem;">
        <!-- Left Column -->
        <div class="">
            {% include "../fields/dynamic-select.html" with label="Giới tính" field=form.gender options=gender_options only %}
            {% include "../fields/text-input.html" with field=form.id_number only %}
            {% include "../fields/text-input.html" with field=form.family_relation only %}
            {% include "../fields/text-input.html" with field=form.agency only %}
            {% include "../fields/text-input.html" with field=form.contract_number only %}
        </div>

        <!-- Right Column -->
        <div class="">
            {% include "../fields/text-input.html" with field=form.company_name only %}
            {% include "../fields/text-input.html" with field=form.company_address only %}
            {% include "../fields/text-input.html" with field=form.company_district only %}
            {% include "../fields/text-input.html" with field=form.company_province only %}
            {% include "../fields/text-input.html" with field=form.group only %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
