{% load static %}

<form hx-post="{% url 'home:customer-info-form' %}">
    {% include "./form-title.html" with title="Customer Information" %}
    {% csrf_token %}
    <div class="d-flex mt-3 wrap p-2" style="gap: 10px;">
        <!-- Left Column -->
        <div class="col-md-6">
            {% include "../fields/text-input.html"  with field=form.name %}
            {% include "../fields/dynamic-select.html" with label="Giới tính" field=form.gender options=gender_options only %}
            {% include "../fields/text-input.html" with field=form.id_number only %}
            {% include "../fields/date-input.html" with field=form.day_of_birth only %}
            {% include "../fields/text-input.html" with field=form.family_relation only %}
            {% include "../fields/text-input.html" with field=form.agency only %}
            {% include "../fields/text-input.html" with field=form.contract_number only %}
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            {% include "../fields/text-input.html" with field=form.company_name only %}
            {% include "../fields/text-input.html" with field=form.company_address only %}
            {% include "../fields/text-input.html" with field=form.company_district only %}
            {% include "../fields/text-input.html" with field=form.company_province only %}
            {% include "../fields/text-input.html" with field=form.group only %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
