{% extends '../../layout/base.html' %}

{% block title %}Customer{% endblock %}
{%block content %}
<h2>Conx</h2>
<div class="d-flex flex-wrap">
  <div style="max-width: 50%;" class="p-2 m-2 border" id="leftTab">
        <div class="p-2 border primary_background_color d-flex item-center">
        <span class="lh-sm fw-semibold fs-5">THÔNG TIN KHÁCH HÀNG</span>
        </div>
        <div id="messages-container">
        </div>
        <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:customer-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="customer-info-form"
        >
            Customer Info
        </li>
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:contact-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="contact-info-form"
        >
            Contact Info
        </li>
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:contact-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="contact-info-form"
        >
            Payment Info
        </li>
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:contact-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="contact-info-form"
        >
            Product Info
        </li>
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:contact-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="contact-info-form"
        >
            Address Info
        </li>
        <li
            style="width: 250px; font-size: small"
            class="tab text-center align-middle p-2"
            hx-get="{% url 'home:contact-info-form' %}"
            hx-target="#left-tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            id="contact-info-form"
        >
            Phone Info
        </li>
        </ul>
        <div id="left-tab-content"></div>
       
  </div>
  <div style="max-width: 50%;" x-data class="p-2 m-2 border" id="rightTab">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">Section</span>
    </div>
    <div id="messages-container-right">
    </div>

    <div class="p-2" id="right-tab-content">
  </div>
</div>
</div>

{% endblock %} {% block js %}
<script>
    document.body.addEventListener('htmx:xhr:loadend', function (event) {
      console.log("Adwadawd");
    // const leftActiveTab = {{ left_active_tab }};
    if (event.target?.getAttribute('hx-target') === '#left-tab-content') {
      document.querySelectorAll("#leftTab .tab").forEach((tab) => tab.classList.remove("active_tab"));
      event.target.classList.add("active_tab");
    }
    if (event.target?.getAttribute('hx-target') === '#right-tab-content') {
      document.querySelectorAll("#rightTab .tab").forEach((tab) => tab.classList.remove("active_tab"));
      event.target.classList.add("active_tab");
    }
  });

  // Set default active tab
  document.addEventListener("DOMContentLoaded", function () {
    const firstLeftTab = document.querySelector("#leftTab .tab");
    
    if (firstLeftTab) {
        firstLeftTab.classList.add("active_tab");
        firstLeftTab.click();
    }

    const firstRightTab = document.querySelector("#rightTab .tab");
    if (firstRightTab) {
        firstRightTab.classList.add("active_tab");
        firstRightTab.click();
    }
  });
</script>
{% endblock %}
