<div class="mb-5">
    <div class="form-floating">
        <input
            class="form-control"
            id="floatingEventInput_{{ field.name }}"
            type="text"
            name="{{ field.name }}"
            value="{{ field.value|default:'' }}"
            placeholder="{{ field.placeholder|default:'' }}"
            {% if field.required %}required{% endif %}
        />
        <label for="floatingEventInput_{{ field.name }}">
            {{ field.label }}
            {% if field.required %}<span class="text-danger">*</span>{% endif %}
        </label>
    </div>
</div>
